@charset "UTF-8";
/*-----------------------------*/
/* -------ベースの設定----------*/
/*-----------------------------*/

html {
  /* フォントサイズを100%で指定しておくことで、ユーザーがブラウザで設定したフォントサイズが正しく反映されます */
  font-size: 62.5%;
}

body {
  color:#24292E;
  font-size:1.4rem;
  font-family: "Arial",sans-serif;
}

img {
  max-width: 100%;
  vertical-align: middle;/* 画像下の余白を消す*/
}

li {
  list-style: none;
}

/*h1タグ用 */
.logo {
  width:180px;
  padding-top: 60px;
  line-height: 1px; /* line-height にh1タグの高さよりも小さい値「1px」を指定することで、
  h1タグの上下の余白が消えるため、ロゴ画像の高さと揃う */
}

.logo a {
  display: block;
}

a {
  color:#24292E;
}

/* h2タグ用 */
.section-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom:30px;
}

/*----------wrapper-----------*/
.main-wrapper {
  width: 100%;
  max-width: 1000px;
  margin:0 auto;
}

.wrapper {
  max-width: 800px;
  margin:0 auto;
  margin-top: 60px;
}

/*----------section-----------*/
.section-box{
  padding:60px;
  background-color: #F5F5F5;
}


/*----------------------------------------------------*/
/*-----------各コンテンツ個別設定　ここから----------------*/
/*----------------------------------------------------*/


/*----------header-----------*/
#header {
  height:93px;
}

/*----------section-index-------------*/
.list-box{
  margin:0 auto;
  text-align: center;
  padding:30px 20px;
  border: #333333 1px solid;
}

.list-items {
  display: inline-block;
  text-align: left;
  padding-bottom:20px;
  text-indent: -1rem;
  padding-left: 1rem;
}

.list-items:last-child {
  padding-bottom:0px;
}


/*----------section-photo------------*/
.grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  gap:15px;
}

.photo-item {
  margin: 0 auto;
}

/*----------section-DETAIL------------*/
.detail-box {
  margin:0 auto;
  display:flex;
  justify-content: space-between;
}
.font-bold {
  font-weight: bold;
}

.box-left-inner p {
  margin: 0;
  }

.box-left-inner {
  margin-bottom: 10px;
}

.box-left-inner:last-child{
  margin-bottom: 0;
}

.box-right p {
  margin-bottom:20px;
}

.box-right p:last-child {
  margin-bottom: 0;
}

.box-right {
  width: 59%;
  margin-left:4rem;
  position: relative;
}

.box-right:before {
  content:"";
  display:inline-block;
  position: absolute;
  left: -4rem;
  width:1px;
  height:100%;
  background-color: #333;
}

/*----------footer------------*/

#footer{
  text-align: center;
}

#footer p {
  font-size: 1rem;
  margin:7.5rem 0 1.5rem 0;
}


/*----------SP ver-----------*/

@media screen and (max-width: 1024px) {


  .wrapper {
    padding:  0 20px;
  }

  /*----------section-----------*/
.section-box{
  padding:40px 20px;
}

/*----------section-photo--------*/
.grid {
  grid-template-columns: 1fr;
}

/*----------section-DETAIL------------*/
.detail-box {
  display:block;
}

.box-left {
  padding-bottom:4rem;
}

.box-right {
  width: 100%;
  margin-left: 0;
  margin-top:4rem;
  position: relative;
}

.box-right:before {
  display:block;
  top: -4rem;
  left: 0;
  width:100%;
  height:1px;
}


}